@charset "utf-8";

#content {
    margin-top: 100px;
    width: 100%;
    min-height: 500px;
}
/* 기본 마감 처리 */
.clear{
    float:none;
    content:'';
    clear:both;
    display:block;
}

/* 메인 상단 타이틀 영역 */

#content #notice_heading {

    padding-top: 70px;
    padding-bottom: 5px;
    line-height:30px;

}
#content #notice_heading a {
   display:block;
   width:100%;
   text-align: center;
   border-bottom: 3px solid black;

}

#content #notice_heading a:after{
    content:'';
    display:block;
    clear:both;
    float:none;
}

#content #notice_heading img {
     float:left;
    width: 30px;
    height: 30px;
}

#content #notice_heading .heading_title {
  display:inline-block;
  font-size:1.6em;
  margin-right:1em;
  line-height:30px;
}

/* 메인 상단 타이틀 영역 끝 */

/* 테이블 상단 제목 영역 */

#content #notice_table table {
    width:100%;
    border: 3px solid cyan;

}

#content #notice_table table thead tr {
    text-align:center;
    font-size:1.2em;
    border: 3px solid #eee;

}

#content #notice_table table thead tr th {
    padding:10px;
}

#content #notice_table table thead tr th:last-child {
    border-left: 3px solid #eee;
}

/* 테이블 상단 제목 영역 끝 */

/* 테이블 본문 영역 */

#content #notice_table table tbody td {

    font-size:1em;
    padding:5px;
    border:3px solid #eee;
}

#content #notice_table table tbody tr td:last-child{
 text-align: center;
}