@charset "utf-8";

.content {
    width: 100%;
    padding-top: 80px;

}

.content .summary .img_box {
    margin: auto;
    width: 70%;
    text-align: center;
}

.content .summary .parts {
    text-align: center;
    width: 100%;
    background-color: rgba(170, 170, 170, 0.1);
    padding: 10px 15px;
}

.content .summary .parts span {
    font-size: 1.4em;
    color: #DC3937;
}

.content .summary .cost {
    height: 150px;
    border: 1px solid #eee;
}

.content label {
    width: 90%;
    height: 25px;
}

.content select {
    float: right;
    width: 70%;
    margin-left: 5%;
}

.content .item {
    width: 90%;
    margin: auto;
}

.content .review {
    width: 90%;
    padding-top: 15px;
    margin: auto;

}

.content .review li {
    border-top: 1px solid #264695;
    padding-top: 5px;
    margin-top: 5px;
}

.content .review li:last-child {
    border-bottom: 1px solid #264695;
}

.content .review_input_group {
    width: 90%;
    margin: auto;
}

.content .review_input_group .review_form_control {
    height: 100px;
}

.content .input-group button {
    height: 100px;
    background-color: #eee;
}

.content .price_box {
    background-color: #eee;
    width: 100%;
    padding: 10px 15px;
    border-top: 2px solid #264695;
    position: fixed;
    bottom: 0;
}

.content .price_box .price_box_switch {
    position: absolute;
    top: -12px;
    left: 42%;
    width: 15%;
}

.content .price_box .price_toggle .shop_box {
    padding: 10px 0;
    height: 40px;
}

.content .price_box .price_toggle .shop_box .count {
    float: left;
    width: 50%;
    text-align: left;
}

.content .price_box .price_toggle .shop_box .count input{
	width: 35px;
	text-align: center;
}

.content .price_box .price_toggle .shop_box .cost {
    float: right;
    width: 50%;
    text-align: right;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.content .price_box .price_toggle .cost span {
    font-size: 1.5em;
}

.content .price_box .price_toggle .shop_button {
    text-align: center;
}

.content .price_box .price_toggle .shop_button .basket {
    width: 45%;
    height: 40px;
    margin-right: 5%;
}

.content .shop_button .buy {
    width: 45%;
    height: 40px;
}