@charset "utf-8";

input[type=checkbox] {
	margin-right: 5px;
}

.cart_product {
	margin-bottom: 20px;
}

.cart_body {
	padding: 5%;
	padding-top: 0;

}

.blockquote.well {
	font-size: 12px;
	padding: 10px;
	margin: 0 5%;
	margin-bottom: 20px;
}

.product_img {
	width: 100%;
	display: block;
}

.product_name {
	margin-left: 20px;
	font-size: 20px;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	float: left;
}

.image_box {
	float: left;
	width: 40%;
}

.info_box,
.amountArea,
.optionArea {
	float: right;
	width: 55%;
	margin-bottom: 10px;
}

.amountArea .amount {
	width: 40px;
	height: 25px;
	text-align: center;
}

.amountArea button {
	width: 20px;
	background: rgba(0, 0, 0, 0.1);
	border: 0;
}

.optionArea {
	margin: auto;
	position: relative;
}

.optionArea .btn-primary {
	border: 0;
	padding: 2px 5px;
	position: absolute;
	right: 5%;
	bottom: 0;
}

.buttonArea button {
	width: 32%;
	margin-right: 1%;
	float: left;
}

hr {
	border-top: 2px solid #000;
	margin-top:5px;
	margin-bottom: 5px;
}

.priceArea,
.finalArea {
	margin-top: 20px;
	text-align: center;
}

.finalArea button {
	width: 45%;
}

.finalPrice {
	font-size: 16px;
}

.checkArea {
	position:relative;
}

.checkArea #checkDel{
	position:absolute;
	right:0;
	background-color: rgba(42, 42, 42, 0.6);
	border:0;
	color:#fff;
	padding:2px 5px;
}

#content .cart_body .btn-default {
	color: #fff;
	background-color: rgba(42, 42, 42, 0.4);
	border: 0;
}

#content .cart_body .btn-danger {
	color: #fff;
	background-color: rgba(218, 59, 61, 1);
	border: 0;
}


#content .cart_body .btn-success {
	color: #fff;
	border: 0;
}

#content .cart_body .btn-warning {
	color: #fff;
	background-color: rgba(42, 42, 42, 0.4);
	border: 0;
}

#content .cart_body .btn-primary {
	color: #fff;
	background-color: rgba(41, 70, 149, 1);
	border: 0;
}
